* {
    margin: 0;
    padding: 0;
    font-family: 'Mulish', sans-serif;
  }
  
html{

    font-size: 62.5%;
 }
   /*header responsive code */
   @media (max-width:300rem) {
    html{
        font-size: 60.5%;
    }
  }



  /* navbar section */
  .navbar {
    box-shadow: 0 1.5rem 4.0rem -2.0rem rgb(40 44 63 / 15%);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 8.0rem;
    background: #fff;
    z-index: 1000;
    padding: 0 2.0rem;
  }
  .navbar .nav {
    max-width: 120.0rem;
    min-width: 120.0rem;
    position: relative;
    margin: 0 auto;
    height: 8.0rem;
    background: #fff;
    display: flex;
    justify-content: space-between;
  }
  .navbar .left {
    display: flex;
    align-items: center;
  }
  .navbar .left .logo {
    display: block;
    height: 4.9rem;
    transition: transform 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
    margin-right: 1.6rem;
  }
  .navbar .left .logo:hover {
    transform: scale(1.1);
  }
  .navbar .location-div,
  .other {
    position: relative;
  }
  .navbar .location-div {
    display: flex;
    align-items: center;
    margin-left: 3.0rem;
    max-width: 30.0rem;
    height: 3.0rem;
    cursor: pointer;
    margin-bottom: -0.1rem;
    padding-right: 1.0rem;
    font-size: 1.4rem;
  }
  .navbar .right {
    position: relative;
  }
  .location-div .other {
    font-weight: 700;
    color: #3d4152;
    float: left;
    padding-bottom: 0.2rem;
    border-bottom: 0.2rem solid #3d4152;
  }
  .location-div .other:hover {
    color: #fc8019;
    border-bottom: 0.2rem solid #fc8019;
  }
  .location-div .location {
    display: block;
    font-weight: 300;
    padding-left: 0.5rem;
    margin-left: 0.5rem;
    color: #686b78;
  }
  .location-div .arrow-down {
    position: absolute;
    right: -6%;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1rem;
    color: #fc8019;
    font-weight: 700;
  }
  .right .items {
    display: flex;
    align-items: center;
  }
  .right .items li {
    margin-right: 3.6rem;
    color: #3d4152;
    font-size: 1.6rem;
    font-weight: 500;
    list-style-type: none;
  }
  .right .items .nav-item {
    display: flex;
    align-items: center;
    padding-left: 2.8rem;
    position: relative;
    height: 8.0rem;
    cursor: pointer;
  }
  .right .items .nav-item a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #3d4152;
    font-size: 1.6rem;
  }
  .nav-item a:hover {
    color: #fc8019;
  }
  
  .nav-item a span {
    padding-left: 1.1rem;
  }
  .right .items li:last-child a svg {
    color: #60b246;
  }
  .Marquee{
    position: relative;
    margin: 0 auto;
    align-items: center;
    max-width: 120.0rem;
    min-width: 120.0rem;
    height: 2.3rem; 
    overflow: hidden;
    position: relative;
    background: #d3d2eb;
    color: rgb(247, 4, 4);
    font-size: 1.9rem;
    text-decoration: springgreen;
    font-weight: 1000;
    /*border: 1px solid #4a4a4a;*/
    
  }
  /*
  .marquee p {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    line-height: 50px;
    text-align: center;
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    -moz-animation: scroll-left 2s linear infinite;
    -webkit-animation: scroll-left 2s linear infinite;
    animation: scroll-left 20s linear infinite;
} */
  
  /* Content Section */
  .restaurants .container {
    max-width: 120.0rem;
    min-width: 120.0rem;
    position: relative;
    margin: 0 auto;
    padding-top: 4.2rem;
    top: 8.0rem;
    background: #fff;
    left: 3.1rem;
  }
  .container .item-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .container .item-bar .number {
    font-weight: 600;
    font-size: 2.8rem;
    color: #282c3f;
    margin-top: -0.3rem;
  }
  .container .item-bar::after {
    color: #3d4152;
    position: absolute;
    content: '';
    left: 0;
    right: 0;
    height: 0.1rem;
    top: 8.1rem;
    background: #e9e9eb;
  }
  
  .container .item-bar .filters {
    display: flex;
    align-items: center;
  }
  .container .item-bar .filters div {
    font-size: 1.6rem;
    font-weight: 300;
    color: #686b78;
    margin-left: 3.5rem;
    cursor: pointer;
    position: relative;
  }
  
  .filters div:hover::after {
    color: #3d4152;
    position: absolute;
    content: '';
    left: 0;
    right: 0;
    height: 0.1rem;
    top: 3.1rem;
    background: #282c3f;
  }

    #rList{
    margin-bottom: 8.5rem;
    display: grid;
    grid-template-columns: repeat(4, 25%);
    justify-content: space-between;
    padding-top: 3.9rem;
    margin-top: 2.5rem;

    }

    #rList .place-link {
        background: #fff;
        display: block;
        text-decoration: none;
        color: inherit;
      }

      #rList .list-item {
        padding: 2.5rem 2.5rem 5.7rem;
        border: 0.1rem solid #fff;
        contain: content;
      }

      #rList .list-item:hover {
        border-color: #d3d5df;
        box-shadow: 0 0.4rem 0.7rem 0 rgb(218 220 230 / 60%);
      }

      #rList .item-content {
        width: 25.4rem;
        position: relative;
      }




  /* .restaurant-list {
    margin-bottom: 85px;
    display: grid;
    grid-template-columns: repeat(4, 25%);
    justify-content: space-between;
    padding-top: 39px;
    margin-top: 25px;
  }
  
  .restaurant-list .place-link {
    background: #fff;
    display: block;
    text-decoration: none;
    color: inherit;
  }
  .restaurant-list .list-item {
    padding: 25px 25px 57px;
    border: 1px solid #fff;
    contain: content;
  }
  .restaurant-list .list-item:hover {
    border-color: #d3d5df;
    box-shadow: 0 4px 7px 0 rgb(218 220 230 / 60%);
  }
  .restaurant-list .item-content {
    width: 254px;
    position: relative;
  } */
  .top-img {
    background: #fff;
    width: 25.4rem;
    height: 31.0rem;
    position: relative;
  }
  .top-img img {
    opacity: 1;
  }
  .status {
    position: absolute;
    left: -0.8rem;
    top: 0;
    color: #fff;
    font-size: 1.3rem;
    font-weight: 500;
    padding: 0.5rem 0.9rem 0.4rem;
    max-width: 50%;
    text-transform: uppercase;
  }
  .status::before {
    position: absolute;
    bottom: -0.9rem;
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-color: inherit;
    left: 0;
    border-width: 0.9rem 0 0 0.9rem;
  }
  
  .place-name-div {
    margin-top: 1.4rem;
  }
  .place-name-div .name {
    font-size: 1.7rem;
    font-weight: 500;
    /* to bring text in next line */
    word-break: break-word;
  }
  .place-name-div .food-items {
    color: #686b78;
    font-size: 1.3rem;
    margin-top: 0.4rem;
    font-weight: 300;
  }
  .info-div {
    display: flex;
    align-items: center;
    margin-top: 1.8rem;
    font-size: 1.2rem;
    justify-content: space-between;
    color: #535665;
    font-weight: 300;
  }
  .info-div .rating {
    background-color: #db7c38;
    color: #fff;
    height: 2.0rem;
    width: 3.6rem;
    padding: 0 0.5rem;
    font-weight: 400;
    display: flex;
    align-items: center;
  }
  .icon-star {
    font-size: 1.0rem;
    margin-right: 0.4rem;
    position: relative;
    top: -0.1rem;
  }
  .offer-div {
    border-top: 0.1rem solid #e9e9eb;
    padding-top: 1.4rem;
    margin-top: 1.4rem;
    color: #8a584b;
    display: flex;
    align-items: center;
    font-weight: 600;
  }
  .offer-div .icon-offer-filled {
    font-size: 1.6rem;
    width: 2.0rem;
    height: 1.6rem;
    margin-right: 0.4rem;
  }
  
  .offer-div .offer-text {
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.2;
  }
  .offer-text .fa-tags {
    margin-right: 0.2rem;
  }
  
  .place:hover .quick-view {
    visibility: visible !important;
  }
  
  .quick-view {
    color: #686b78;
    font-size: 1.3rem;
    visibility: hidden;
    border-top: 0.0rem solid #e9e9eb;
    padding-top: 5.8rem;
    margin-top: 5.4rem;
    position: absolute;
    left: 2.0rem;
    right: 2.0rem;
    bottom: 0.0rem;
    cursor: pointer;
    border-inline-color:#5d8ed5; ;
    
  }
  
  .quick-view .view-btn {
    color: #5d8ed5;
    display: block;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
  }
  .footer {
    padding: 0 2.0rem;
    z-index: 10;
    background-color: #000;
    min-height: 10.0rem;
    width: 100%;
    color: #fff;
    overflow: scroll;
  }
  .footer-content {
    width: 100%;
    display: flex;
    background-color: #000000;
    justify-content: space-around;
    max-width: 120.0rem;
    min-width: 120.0rem;
    margin: 0 auto;
    padding: 7.6rem 0;
    height: 100%;
  }
  
  .points {
    color: #808080;
    font-size: 1.5rem;
    font-weight: 600;
    /*    border: 1px solid white;*/
    width: 30.0rem;
    margin: 2.6rem 0rem 1.0rem 1.5rem;
    /*    padding: 15px 0px 0px 0px;*/
  }
  
  .footer-li {
    padding: 2.0rem 1.0rem 0.2rem 0rem;
  }
  
  .footer-ul {
    list-style: none;
    display: flex;
    flex-direction: column;
  }
  
  .footer-li a {
    color: #fff;
    font-size: 1.5rem;
    font-weight: 300;
    text-decoration: none;
  }
  
  .footer-li a:hover {
    font-weight: 600;
  }
  
  .points img {
    border: 0.2rem solid #808080;
    padding: 1.0rem;
    margin: 3.0rem 0rem 1.0rem 5.7rem;
    border-radius: 1.0rem;
    transition: transform 0.5s;
  }
  
  .points img:hover {
    transform: scale(1.06);
    cursor: pointer;
  }


   /*header responsive code 
  @media (max-width:400px) {
    html{
        font-size: 40%;
    }
  }
*/
 
  
 